@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #03f5a498;
    text-shadow: 0 0 1px var(--foreground), 0 0 3px var(--foreground), 0 0 5px var(--foreground);
  }
}

/*scrollbar*/
/* Works on Firefox and chrome based browser. Use as default. Ignore custom solutions. */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--foreground) rgba(14, 92, 4, 0.288);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden; /*disable global level scroll.*/
}